@font-face {
  font-family: iconfont;
  src:
    url('iconfont.woff2?t=1658217249520') format('woff2'),
    url('iconfont.woff?t=1658217249520') format('woff'),
    url('iconfont.ttf?t=1658217249520') format('truetype');
}

.iconfont {
  font-size: 16px;
  font-family: iconfont, sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbutongguo::before {
  content: '\e725';
}

.iconxianzhuangfenxi::before {
  content: '\e726';
}

.iconguihuafenxi::before {
  content: '\e727';
}

.iconxiangmu::before {
  content: '\e723';
}

.iconjine::before {
  content: '\e724';
}

.iconlujing::before {
  content: '\e722';
}

.iconanjieduanfenlei::before {
  content: '\e706';
}

.iconchiping::before {
  content: '\e707';
}

.iconanhangyefenlei::before {
  content: '\e708';
}

.iconchakanxiangqing::before {
  content: '\e709';
}

.iconjinggao::before {
  content: '\e70a';
}

.iconanleixingfenlei::before {
  content: '\e70b';
}

.iconfanhui::before {
  content: '\e70c';
}

.icondanyuanguankongliandongxitong::before {
  content: '\e70d';
}

.icondanyuanpingjiafenxixitong::before {
  content: '\e70e';
}

.iconanquyufenlei::before {
  content: '\e70f';
}

.iconpaixu::before {
  content: '\e710';
}

.iconshoucangliebiao::before {
  content: '\e711';
}

.iconmianbanquanping::before {
  content: '\e712';
}

.iconpaimingtu1::before {
  content: '\e713';
}

.iconshishitongchouguanlixitong::before {
  content: '\e714';
}

.icontongguo::before {
  content: '\e715';
}

.iconxiangxiguihuabianzhixitong::before {
  content: '\e716';
}

.iconxiajiang::before {
  content: '\e717';
}

.icontuli::before {
  content: '\e718';
}

.iconzuobiao::before {
  content: '\e719';
}

.iconshangsheng::before {
  content: '\e71a';
}

.iconzhuye::before {
  content: '\e71b';
}

.iconsearch::before {
  content: '\e71c';
}

.iconadmin::before {
  content: '\e71d';
}

.iconxingzhuangjiehe::before {
  content: '\e71e';
}

.iconjichuyingyongzhichengxitong::before {
  content: '\e71f';
}

.iconyonghu::before {
  content: '\e720';
}

.iconbiaoqian::before {
  content: '\e721';
}
