@use './theme/index.scss';
@use './common/mixin' as *;

$duration: 0.1s;
$timing: ease;

html,
body,
#app {
  @include scrollbar;
  @apply bg-default font-sans overflow-hidden p-0 m-0 w-full h-full text-color text-base;
}

*,
::before,
::after {
  -webkit-tap-highlight-color: transparent;
  transition:
    color $duration $timing,
    background-color $duration $timing,
    border-color $duration $timing;

  @apply border-color outline-none;
}
